h2 {
  font-size: 1rem;
  text-align: right;

  @media(max-width: 480px){
    font-size: 0.8rem;
    }
}

.aDay, .blank {
  height: 100px;
  border-radius: 5px;
  background-color: #e5e5e5;
  padding: 8px 0 0 10px;
  text-decoration: none;
  border: 1px solid #afacac;

  @media(max-width: 480px){
    height: 55px;
    text-align:center;
    padding: 0;
    }
    
  @media(min-width: 481px) and (max-width:780px){
    height: 80px;
  }
}

.date {
  line-height: 20px;
  margin: 0 0 15px;
  font-size: 1.1rem;
  font-weight: bold;

  @media(max-width: 480px){
    line-height: 40px;
    margin: 0;
    font-size: 0.9rem;
  }
  @media(min-width: 481px) and (max-width:780px){
    margin: 0;
  }
}

.aDay:visited, .aDay:link {
  color: black
}

.done, .notDone {
  height: 24px;
  line-height: 24px;

  @media(max-width: 480px){
    display: none;
  }
}

.done img, .notDone img {
  height: 24px;
  margin-right: 5px;
}

.done span, .notDone span{
  display: inline-block;
  vertical-align: top;
}

.days {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 3px;
  justify-content: center;
}

.currentDay {
  border: 4px dashed red;
}

.twenty {
  background-color: rgb(151 63 191 / 20%);
}
.fourty {
  background-color: rgb(151 63 191 / 40%);
}
.sixty {
  background-color: rgb(151 63 191 / 60%);
}
.eighty {
  background-color: rgb(151 63 191 / 100%);
}

.colorChart {
  display: flex;
  margin: 10px;
  line-height: 24px;
}

.colorChartBox {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid gray;
  margin: 2px;
}