.aDay, .blank {
  height: 100px;
  // border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(173 173 112 / 24%);
  padding: 5px 0 0 10px;

  @media(max-width: 480px){
      height: 55px;
      font-size: 1.2rem;
      text-align:center;
      line-height: 55px;
      padding: 0;
  }
  
  @media(min-width: 481px) and (max-width:780px){
      height: 80px;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 3px;
  justify-content: center;
}

.currentDay {
  border:2px solid red;
}

.twenty {
  background-color: rgb(63 127 191 / 20%);
}
.fourty {
  background-color: rgb(63 127 191 / 40%);
}
.sixty {
  background-color: rgb(63 127 191 / 60%);
}
.eighty {
  background-color: rgb(63 127 191 / 100%);
}

.colorChart {
  display: flex;
  margin: 10px;
}

.colorChartBox {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid gray;
  margin: 2px;
}