* {
  font-family: "Montserrat", sans-serif;
}

.backToHome {
  background-color: #90caf9c2;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  color: #fff
}

.backToHome:hover {
  background-color: #b4c7d675;
  transition: 0.3s;
}

.header--todo {
  width: 80%;
  display: flex;
  gap: 20px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.header--todo div {
  font-size: 1.5rem;
  // line-height: 100px;
}

.body--todo {
  margin: auto 100px;
}

.showingTotal {
  width: 60%;
  border: 2px ridge;
  margin: 20px auto;
  padding: 7px;
}

ul li {
  list-style-type: none;
}

.form--addList {
  width: 85%;
  height: 40px;
  font-size: 18px;
}

.button--add {
  background-color: #2ec4b6db;
  height: 35px;
  padding: 12px;
  line-height: 12px;
  border-radius: 3px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button--add:hover {
  background-color: #011614;
  transition: 0.3s;
}

.button--clearLists {
  background-color: #fa8072ad;
  height: 35px;
  width: 20%;
  padding: 12px;
  line-height: 12px;
  border-radius: 3px;
  font-weight: 900;
  margin: 20px 0;
  color: #fff;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: #ffffffdb;
  height: 40px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 3px;
  border: 1px solid #9e9e9e;
  margin: 0 auto 5px;
}

.material-symbols-outlined {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.editingText {
  height: 35px;
  font-size: 18px;
  margin: 2px;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
  transition: 0.3s;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  line-height: 40px;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 6px;
  top: 10px;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 5px;
  left: 12px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
