.main--todo {
  margin: 0 30px;
}
@media (max-width: 790px) {
  .main--todo {
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .main--todo {
    margin: 0 100px;
  }
}

.backToHome {
  background-color: rgba(144, 202, 249, 0.7607843137);
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
}
@media (max-width: 480px) {
  .backToHome {
    font-size: 0.7rem;
  }
}

.backToHome:hover {
  background-color: rgba(180, 199, 214, 0.4588235294);
  transition: 0.3s;
}

.header--todo {
  display: flex;
  gap: 20px;
  height: 40px;
  line-height: 40px;
  width: 80%;
  margin: 30px auto;
}
@media (max-width: 650px) {
  .header--todo {
    width: 100%;
  }
}

h1 {
  margin: 0;
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
}

.header--todo div {
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .header--todo div {
    font-size: 1.2rem;
  }
}

.body--todo {
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 650px) {
  .body--todo {
    width: 100%;
  }
}

.showingTotal {
  display: flex;
  justify-content: center;
  border: 2px ridge;
  margin: 0 auto 20px;
  width: 80%;
  padding: 6px;
  height: 40px;
}
@media (max-width: 480px) {
  .showingTotal {
    padding: 8px;
  }
}

.showingTotal--number {
  line-height: 24px;
}
@media (max-width: 480px) {
  .showingTotal--number {
    font-size: 0.8rem;
  }
}

.numberOfChecked,
.numberOfNotChecked {
  margin: 0 5px;
  line-height: 24px;
}
@media (max-width: 480px) {
  .numberOfChecked,
.numberOfNotChecked {
    line-height: 20px;
  }
}

.numberOfChecked img,
.numberOfNotChecked img {
  height: 24px;
  margin-right: 3px;
}
@media (max-width: 480px) {
  .numberOfChecked img,
.numberOfNotChecked img {
    height: 20px;
  }
}

.numberOfChecked span,
.numberOfNotChecked span {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 480px) {
  .numberOfChecked span,
.numberOfNotChecked span {
    font-size: 0.8rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

form {
  height: 40px;
  width: 100%;
  margin: 0 auto;
}

.form--addList {
  width: 83%;
  height: 40px;
  font-size: 18px;
}
@media (max-width: 480px) {
  .form--addList {
    width: 80%;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (max-width: 790px) {
  .form--addList {
    width: 75%;
  }
}

.button--add {
  background-color: rgba(46, 196, 182, 0.8588235294);
  height: 40px;
  padding: 12px;
  border-radius: 3px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.8px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .button--add {
    height: 35px;
    font-size: 0.9rem;
    padding: 7px;
    font-weight: 500;
  }
}

.button--add:hover {
  background-color: #011614;
  transition: 0.3s;
}

.button--clearLists {
  background-color: rgba(250, 128, 114, 0.6784313725);
  height: 35px;
  width: 20%;
  padding: 12px;
  line-height: 12px;
  border-radius: 3px;
  font-weight: 900;
  margin: 20px 0;
  color: #fff;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8588235294);
  height: 40px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #9e9e9e;
  margin: 0 auto 5px;
}

.material-symbols-outlined {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.editingText {
  height: 35px;
  font-size: 18px;
  margin: 2px;
}

input[type=text]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
  transition: 0.3s;
}

input[type=checkbox]:checked + label {
  -webkit-text-decoration: line-through 3px;
          text-decoration: line-through 3px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  line-height: 40px;
}

input[type=checkbox] + label:last-child {
  margin-bottom: 0;
}

input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #6cc0e5;
  position: absolute;
  left: 6px;
  top: 9px;
  opacity: 0.6;
  transition: all 0.12s, border-color 0.08s;
}

input[type=checkbox]:checked + label:before {
  width: 10px;
  top: 3px;
  left: 12px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

h2 {
  font-size: 1rem;
  text-align: right;
}
@media (max-width: 480px) {
  h2 {
    font-size: 0.8rem;
  }
}

.aDay, .blank {
  height: 100px;
  border-radius: 5px;
  background-color: #e5e5e5;
  padding: 8px 0 0 10px;
  text-decoration: none;
  border: 1px solid #afacac;
}
@media (max-width: 480px) {
  .aDay, .blank {
    height: 55px;
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  .aDay, .blank {
    height: 80px;
  }
}

.date {
  line-height: 20px;
  margin: 0 0 15px;
  font-size: 1.1rem;
  font-weight: bold;
}
@media (max-width: 480px) {
  .date {
    line-height: 40px;
    margin: 0;
    font-size: 0.9rem;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  .date {
    margin: 0;
  }
}

.aDay:visited, .aDay:link {
  color: black;
}

.done, .notDone {
  height: 24px;
  line-height: 24px;
}
@media (max-width: 480px) {
  .done, .notDone {
    display: none;
  }
}

.done img, .notDone img {
  height: 24px;
  margin-right: 5px;
}

.done span, .notDone span {
  display: inline-block;
  vertical-align: top;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  justify-content: center;
}

.currentDay {
  border: 4px dashed red;
}

.twenty {
  background-color: rgba(151, 63, 191, 0.2);
}

.fourty {
  background-color: rgba(151, 63, 191, 0.4);
}

.sixty {
  background-color: rgba(151, 63, 191, 0.6);
}

.eighty {
  background-color: rgb(151, 63, 191);
}

.colorChart {
  display: flex;
  margin: 10px;
  line-height: 24px;
}

.colorChartBox {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid gray;
  margin: 2px;
}

.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  justify-content: center;
  text-align: center;
}
@media (max-width: 480px) {
  .daysOfWeek {
    display: none;
  }
}

.daysOfWeekShort {
  display: none;
}
@media (max-width: 480px) {
  .daysOfWeekShort {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
    justify-content: center;
    text-align: center;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  background-color: #fffde9;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 480px) {
  body {
    margin: 20px;
  }
}
@media (min-width: 960px) {
  body {
    margin: 50px 120px;
  }
}

.suntime {
  height: 30px;
}

.suntime p {
  display: inline-block;
  line-height: 30px;
  margin: 0 6px;
  height: 30px;
  vertical-align: top;
}

.button--month {
  height: 60px;
  display: flex;
  justify-content: center;
}

.month {
  width: 130px;
  text-align: center;
  line-height: 60px;
  font-size: 1.3rem;
}

.month:hover + button {
  background-color: red;
}

.year {
  text-align: center;
  line-height: 60px;
  font-size: 1.3rem;
}

button {
  margin: 0 10px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

button img {
  height: 60%;
}

button img:hover {
  background-color: rgba(173, 226, 221, 0.3019607843);
  border-radius: 50%;
  transition: 0.3s;
}

button img:active {
  background-color: rgba(240, 248, 255, 0.496);
}/*# sourceMappingURL=styles.css.map */