:root {
  background-color: antiquewhite;
  font-family: 'Pacifico', cursive;
}

.header {
  display: flex;
  justify-content: center;
}

.month {
  width: 80px;
  text-align: center;
}

button {
  margin: 0 10px;
}

.daysOfWeek  {
  display: grid;
  grid-template-columns: repeat(7,14%);
  gap: 3px;
  justify-content: center;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7,14%);
  gap: 3px;
  justify-content: center;
}

.aDay {
  height: 120px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(128, 128, 0, 0.217);
  padding: 5px 0 0 10px;
}